<?php

/*
    This file is part of Dash Ninja.
    https://github.com/elbereth/dashninja-fe

    Dash Ninja is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Dash Ninja is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

 */

// Copy this file to config.inc.php and change configuration below

// Path to the cache folder (files will be created in there, best if outside www access)
DEFINE('CACHEFOLDER',"/home/dashninja/cache/");

// Indicate here all MySQL configuration to connect to Dash Ninja Database
DEFINE('MYSQLUSER',"dashninja-api");
DEFINE('MYSQLPASS',"anyrandompassword");
DEFINE('MYSQLDATABASE',"dashninja");
DEFINE('MYSQLHOST',"localhost");

?>
