api/libs/config.inc.php
static/*.gz
logs/
static/datatables/datatables.css
static/datatables/datatables.js
static/datatables/datatables.min.*.gz
static/bootstrap-3.3.6/css/*.map
static/bootstrap-3.3.6/css/*.gz
static/bootstrap-3.3.6/css/bootstrap.css
static/bootstrap-3.3.6/css/bootstrap-theme*
static/bootstrap-3.3.6/js/bootstrap.js
static/bootstrap-3.3.6/js/bootstrap.min.js.gz
static/bootstrap-3.3.6/js/npm.js
static/font-awesome-4.6.3/scss/
static/font-awesome-4.6.3/less/
static/font-awesome-4.6.3/css/font-awesome.css
static/font-awesome-4.6.3/css/font-awesome.min.css.gz
static/font-awesome-4.6.3/HELP-US-OUT.txt