api/libs/config.inc.php
static/Chart.js
static/*.gz
static/jquery*
logs/
static/bootstrap/
static/bootstrap-3.3.6/
static/bootstrap-3.3.7/
static/datatables/
static/datatables.net/
static/datatables.net-bs4/
static/font-awesome-4.6.3/
static/font-awesome-4.7.0/
static/fontawesome-free/
static/fontawesome-free-5.1.0-web/
static/highcharts/
static/popper.min.js.map
data/
loaderio*
.well-known/
